.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  height: calc(100dvh - 60px);

  background-color: #1b1b1b;
  background: linear-gradient(0.1turn, #0005, #0000), url('/img/satellite-image.png');
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
